<div class="container">

  <h1>Fancy cocktails</h1>

  <ul>
    <% @cocktails.each do |cocktail|  %>
    <li> 
      <%=link_to cocktail.name, "/cocktails/#{cocktail.id}", class: "edit_link" %> 
      
      <button type="button" class="btn btn-primary"> 
        <%=link_to "edit", "/cocktails/#{cocktail.id}/edit" %>
      </button>      
      <button type="button" class="btn btn-danger"> 
        <%=link_to "delete", "/cocktails/#{cocktail.id}", method: :delete %>
      </button>
    </li>  
    <% end %>
  </ul>
  <button type="button" class="btn btn-primary">
    <%=link_to "new", "/cocktails/new" %>
  </button>
</div>

